.lista {
   color: red;
   front-size: 30;
}

#imagem {
   text-align: center;
}

#link {
   text-align: center;
}

p {
   color: red;
   font-size: 30;
   text-align: left;
}

h1 {
    color: blue;
    text-align: center;
    font-size: 50;
}

h2 {
    color: green;
    text-align: right;
    font-size: 40;
}
